@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

* {
  margin: 0;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

header {
  background-color: #000;
  display: flex;
  gap: 200px;
  position: fixed;
  width: 100%;
  top: 0;
}

header h1 {
  color: #fff;
  padding: 10px;
  margin-left: 100px;
}

nav {
  margin-top: 15px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  padding: 10px 30px;
}

.movie-cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: beige;
  margin: 70px 80px;
}

.movie-cards img {
  width: 250px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

h4 {
  padding-right: 6px;
  margin-left: 45px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment-btn {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 400 !important;
  background-color: #e63946ff;
  color: #fff;
  padding: 10px;
  margin: 8px auto;
  display: inline-block !important;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  transition: all 0.3s 0s ease-in-out;
  height: 40px;
  width: 200px;
}

.span-items {
  display: flex;
  flex-direction: row;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  padding: 10px;
  text-align: center;
}

/* Comment popup */

.comment-popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(76, 78, 82, 0.7);
  display: none;
}

.popup {
  padding: 20px;
  background: #fff;
  margin: 80px 50px;
  border-radius: 10px;
}

#close {
  float: right;
  font-size: 2em;
}

.display {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.comment-container {
  width: 50%;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

input,
textarea {
  padding: 8px;
}

.submit-btn {
  width: auto;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 400 !important;
  background-color: #e63946ff;
  color: #fff;
  padding: 10px;
  border: none;
}

ul {
  list-style: none;
  margin: 5px 0;
}

li {
  margin-left: -40px;
  padding: 5px 0;
}

/* End of comment popup */
